body {
    background-color: black;
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
}
#container {
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(216, 185, 26, 0.605);
    border-radius: 20px;
    color: rgb(216, 184, 26);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    padding: 16px;
    width: fit-content;
}
#card {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.card-img {
    display: none;
    height: auto;
    margin: 0 auto;
    width: auto;
}
#buttons {
    display: flex;
    justify-content: space-around;
    width: 175px;
}
#yesBtn, #noBtn {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    height: 24px;
    width: 50px;
}